# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
*.sqlite3

# Node
node_modules/
frontend/dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Media
backend/media/*

# Static
backend/static/*

# Git
.git/
.gitignore
*.md
